<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left">
                                Bulk Collateral Insurance Policy Upload Report (Rejected)
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p-dataTable #dt [value]="insurancePolicies" [responsive]="true" [paginator]="true" [rows]="10"
                        [(selection)]="selectionData" dataKey="customerId" [rowsPerPageOptions]="[10,20,30]">
                        <p-header>
                            <div class="ui-helper-clearfix">
                              <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()"
                                style="float:left"></button>
                            </div>
                          </p-header>
                        <p-column field="customerId" header="#" [style]="{width:'5%','text-align':'left'}">
                            <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                {{i+1}}
                            </ng-template>
                        </p-column>

                        <p-column field="isCollateral" header="Is Collateral" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                            <p-column field="customerId" header="Customer Code" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column field="collateralCode" header="Collateral Code" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column field="referenceNumber" header="Policy Number" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column field="policyType" header="Policy Type" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column field="insuranceCompany" header="Insurance Company" sortable="true"
                            [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column field="startDate" header="Policy Start Date" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.startDate | date: 'dd-MM-yyyy' }}
                            </ng-template>
                        </p-column>
                        <p-column field="expiryDate" header="Policy Expiry Date" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.expiryDate | date: 'dd-MM-yyyy' }}
                            </ng-template>
                        </p-column>

                        <p-column field="sumInsured" header="Sum Insured" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.sumInsured | number: '1.2' }}
                            </ng-template>
                        </p-column>
                        <p-column field="premiumAmount" header="Premium Paid" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.premiumAmount | number: '1.2' }}
                            </ng-template>
                        </p-column>
                        <p-column field="validityStatus" header="Validity Status" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>

                    </p-dataTable>
                </div>
            </div>

        </div>
    </div>
</div>