<p-accordion >
    <p-accordionTab header="Insurance Company">
            <div class="ui-g">
                    <div class="ui-g-12 no-padding">
                        <div class="card no-padding">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="panel-title pull-left">
                                                Insurance Company Setup
                                            </h2>
                                            <div class="pull-right">
                                                <button (click)="addInsuranceCompany()" pButton type="button" label="New Insurance Company"
                                                    icon="fa-plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p-dataTable [value]="insuranceCompanies" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]">
                                        <p-column field="companyName" header="Company Name" sortable="true" [filter]="true" filterMatchMode="contains">
                                        </p-column>
                                        <p-column field="address" header="Address" sortable="true" [filter]="true"
                                            filterMatchMode="contains"></p-column>
                                        <p-column field="contactEmail" header="Email" sortable="true" [filter]="true"
                                            filterMatchMode="contains"></p-column>
                                        <p-column field="phoneNumber" header="Phone Number" sortable="true" [filter]="true" filterMatchMode="contains">
                                        </p-column>
                                        <!-- <p-column field="dateTimeCreated" header="Date Initiated" sortable="true" [filter]="true"
                                            filterMatchMode="contains">
                                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                {{ d.dateTimeCreated | date: 'dd-MM-yyyy' }}
                                            </ng-template>
                                        </p-column> -->
                                        <p-column>
                                            <ng-template pTemplate="header"></ng-template>
                                            <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                                <div style="text-align:center">
                                                    <div >
                                                        <a (click)="editInsuranceCompany(row)" href="javascript:void(0)">Edit</a>
                                                        <span style="padding:3px;">|</span>
                                                        <a (click)="removeInsuranceCompany(row)" href="javascript:void(0)">Remove</a>
                                                    </div>
                                                </div>
                                            </ng-template>
                                
                                        </p-column>
                                    </p-dataTable>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </p-accordionTab>
    <p-accordionTab header="Insurance Type">
            <div class="ui-g">
                    <div class="ui-g-12 no-padding">
                        <div class="card no-padding">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="panel-title pull-left">
                                                Insurance Type Setup
                                            </h2>
                                            <div class="pull-right">
                                                <button (click)="addInsuranceType()" pButton type="button" label="New Insurance Type"
                                                    icon="fa-plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p-dataTable [value]="insuranceTypes" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]">
                                        <p-column field="insuranceType" header="Insurance Type" sortable="true" [filter]="true"
                                                filterMatchMode="contains"></p-column>
                                        <!-- <p-column *ngFor="let count of counts" field="count" header="Insurance Type" sortable="true" [filter]="true" filterMatchMode="contains">
                                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        {{ d.dateTimeCreated | date: 'dd-MM-yyyy' }}
                                            </ng-template>
                                        </p-column> -->
                                        <p-column>
                                            <ng-template pTemplate="header"></ng-template>
                                            <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                                <div style="text-align:center">
                                                    <div >
                                                        <a (click)="editGPSCollateralType(row)" href="javascript:void(0)">Edit</a>
                                                        <span style="padding:3px;">|</span>
                                                        <a (click)="removeGPSCollateralType(row)" href="javascript:void(0)">Remove</a>
                                                    </div>
                                                </div>
                                            </ng-template>
                                
                                        </p-column>
                                    </p-dataTable>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </p-accordionTab>
   
    <p-accordionTab header="Insurance Policy Type">
        <div class="ui-g">
                <div class="ui-g-12 no-padding">
                    <div class="card no-padding">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="panel-title pull-left">
                                            Insurance policy Type Setup
                                        </h2>
                                        <div class="pull-right">
                                            <button (click)="addInsurancePolicyType()" pButton type="button" label="New Insurance Policy Type"
                                                icon="fa-plus"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p-dataTable [value]="insurancePolicyTypes" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]">
                                    <p-column field="description" header="Description" sortable="true" [filter]="true"
                                            filterMatchMode="contains"></p-column>
                                            <p-column field="valuationRequired" header="Valuation Required" sortable="true" [filter]="true"
                                            filterMatchMode="contains"></p-column>
                                    <p-column>
                                        <ng-template pTemplate="header"></ng-template>
                                        <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                            <div style="text-align:center">
                                                <div >
                                                    <a (click)="editInsurancePolicyType(row)" href="javascript:void(0)">Edit</a>
                                                    <span style="padding:3px;">|</span>
                                                    <a (click)="removeInsurancePolicyType(row)" href="javascript:void(0)">Remove</a>
                                                </div>
                                            </div>
                                        </ng-template>
                            
                                    </p-column>
                                </p-dataTable>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</p-accordionTab>

<!-- <p-accordionTab header="GPS Coordinates-Collateral Type">
    <div class="ui-g">
            <div class="ui-g-12 no-padding">
                <div class="card no-padding">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="panel-title pull-left">
                                        GPS Coordinates-Collateral Type
                                    </h2>
                                    <div class="pull-right">
                                        <button (click)="addGPSCollateralType()" pButton type="button" label="New GPS Coordinates-Collateral Type"
                                            icon="fa-plus"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p-dataTable [value]="GPSCoordinatesCollateralType" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]">
                                <p-column field="description" header="Description" sortable="true" [filter]="true"
                                        filterMatchMode="contains"></p-column>
                                        <p-column field="valuationRequired" header="Valuation Required" sortable="true" [filter]="true"
                                        filterMatchMode="contains"></p-column>
                                <p-column>
                                    <ng-template pTemplate="header"></ng-template>
                                    <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                        <div style="text-align:center">
                                            <div >
                                                <a (click)="editGPSCoordinatesCollateralType(row)" href="javascript:void(0)">Edit</a>
                                                <span style="padding:3px;">|</span>
                                                <a (click)="removeGPSCoordinatesCollateralType(row)" href="javascript:void(0)">Remove</a>
                                            </div>
                                        </div>
                                    </ng-template>
                        
                                </p-column>
                            </p-dataTable>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</p-accordionTab> -->
</p-accordion>

<p-dialog [responsive]=true [(visible)]="displayInsuranceCompanyForm" id="ct-modal" modal="modal" showEffect="fade"
    width="600" [contentStyle]="{'overflow':'auto','max-height':'700px'}">

    <div style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">
                {{formState}} Insurance Company
            </h2>
        </div>

        <form novalidate [formGroup]="insuranceCompanyForm" (ngSubmit)="saveInsuranceCompany(insuranceCompanyForm)" autocomplete="off">
            <div class="panel-body">
                    <div class="form-group">
                        <label for="companyName" class="control-label col-md-12">Company Name</label>
                        <div class="col-md-12">
                            <input type="text" name="companyName" maxlength="100" formControlName="companyName" id="companyName"
                                class="form-control"
                                [ngClass]="insuranceCompanyForm.controls['companyName'].valid ? 'valid-input' : 'required-input'">
                           
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="companyAddress" class="control-label col-md-12">Company Address</label>
                        <div class="col-md-12">
                            <textarea type="text" maxlength="200" name="companyAddress" formControlName="companyAddress"
                                id="companyAddress" class="form-control"
                                [ngClass]="insuranceCompanyForm.controls['companyAddress'].valid ? 'valid-input' : 'required-input'"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contactEmail" class="control-label col-md-12">Company Email</label>
                        <div class="col-md-12">
                            <input type="text" name="contactEmail" maxlength="100" formControlName="contactEmail" id="contactEmail"
                                class="form-control"
                                [ngClass]="insuranceCompanyForm.controls['contactEmail'].valid ? 'valid-input' : 'required-input'">
                           
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber" class="control-label col-md-12">Phone Number</label>
                        <div class="col-md-12">
                            <input pattern="[0-9]*" type="text" name="phoneNumber" formControlName="phoneNumber" id="phoneNumber"
                                class="form-control"
                                [ngClass]="insuranceCompanyForm.controls['phoneNumber'].valid ? 'valid-input' : 'required-input'">
                        </div>
                    </div>


                </div>
            
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="saveInsuranceCompany(insuranceCompanyForm)"
                            [disabled]="insuranceCompanyForm.invalid" class="btn btn-success pull-right">Save and
                            Close</button>
                        <button type="button" (click)="displayInsuranceCompanyForm=false" style="margin-right:5px"
                            class="btn btn-danger pull-right">Cancel</button>
                    </div>
                </div>
            </div>

        </form>

    </div>

</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayInsuranceTypeForm" id="ct-modal" modal="modal" showEffect="fade"
    width="450" [contentStyle]="{'overflow':'auto','max-height':'350px'}">

    <div style="margin-bottom:0" class="panel panel-default">
    
        <div class="panel-heading">
            <h2 class="panel-title">
                {{formState}} Insurance Type
            </h2>
        </div>
    
        <form novalidate [formGroup]="insuranceTypeForm" (ngSubmit)="saveInsuranceType(insuranceTypeForm)" autocomplete="off">
            <div class="panel-body">
                <div class="form-group">
                    <label for="insuranceType" class="control-label col-md-12">Insurance Type</label>
                    <div class="col-md-12">
                        <input type="text" name="insuranceType" maxlength="100" formControlName="insuranceType"
                            id="insuranceType" class="form-control"
                            [ngClass]="insuranceTypeForm.controls['insuranceType'].valid ? 'valid-input' : 'required-input'">
    
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="saveInsuranceType(insuranceTypeForm)"
                            [disabled]="insuranceTypeForm.invalid" class="btn btn-success pull-right">Save and
                            Close</button>
                        <button type="button" (click)="displayInsuranceTypeForm=false" style="margin-right:5px"
                            class="btn btn-danger pull-right">Cancel</button>
                    </div>
                </div>
            </div>
    
        </form>
    
    </div>

</p-dialog>


<p-dialog [responsive]=true [(visible)]="displayInsurancePolicyTypeForm" id="ct-modal" modal="modal" showEffect="fade"
    width="450" [contentStyle]="{'overflow':'auto','max-height':'350px'}">

    <div style="margin-bottom:0" class="panel panel-default">
    
        <div class="panel-heading">
            <h2 class="panel-title">
                {{formState}} Insurance Policy Type
            </h2>
        </div>
    
        <form novalidate [formGroup]="insurancePolicyTypeForm" (ngSubmit)="saveInsurancePolicyType(insurancePolicyTypeForm)" autocomplete="off">
            <div class="panel-body">
                <div class="form-group">
                    <label for="insuranceType" class="control-label col-md-12">Description</label>
                    <div class="col-md-12">
                        <textarea name="description" formControlName="description"
                            id="description" class="form-control"
                            [ngClass]="insurancePolicyTypeForm.controls['description'].valid ? 'valid-input' : 'required-input'"></textarea>
    
                    </div>
                </div>
                <div class="form-group">
                    <label for="insuranceType" class="control-label col-md-12">Valuation Required?</label>
                    <div class="col-md-12">
                        <select id="valuation"
                            formControlName="valuation" name="valuation" class="form-control"
                            [ngClass]="!insurancePolicyTypeForm.controls['valuation'].valid ? 'required-input' : 'valid-input'">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
    
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="saveInsurancePolicyType(insurancePolicyTypeForm)"
                            [disabled]="insurancePolicyTypeForm.invalid" class="btn btn-success pull-right">Save and
                            Close</button>
                        <button type="button" (click)="displayInsurancePolicyTypeForm=false" style="margin-right:5px"
                            class="btn btn-danger pull-right">Cancel</button>
                    </div>
                </div>
            </div>
    
        </form>
    
    </div>

</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayGPSCoordinatesCollateralTypeForm" id="ct-modal" modal="modal" showEffect="fade"
    width="450" [contentStyle]="{'overflow':'auto','max-height':'350px'}">

    <div style="margin-bottom:0" class="panel panel-default">
    
        <div class="panel-heading">
            <h2 class="panel-title">
                {{formState}} GPS Coordinates-Collateral Type
            </h2>
        </div>
    
        <form novalidate [formGroup]="GPSCoordinatesCollateralTypeForm" (ngSubmit)="saveGPSCoordinatesCollateralType(GPSCoordinatesCollateralTypeForm)" autocomplete="off">
            <div class="panel-body">
                <div class="form-group">
                    <label for="collateralType" class="control-label col-md-12">Collateral Type</label>
                    <div class="col-md-12">
                        <textarea name="collateralType" formControlName="collateralType"
                            id="collateralType" class="form-control"
                            [ngClass]="GPSCoordinatesCollateralTypeForm.controls['collateralType'].valid ? 'valid-input' : 'required-input'"></textarea>
    
                    </div>
                </div>
                <div class="form-group">
                    <label for="required" class="control-label col-md-12">Required?</label>
                    <div class="col-md-12">
                        <select id="required"
                            formControlName="required" name="required" class="form-control"
                            [ngClass]="!GPSCoordinatesCollateralTypeForm.controls['required'].valid ? 'required-input' : 'valid-input'">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
    
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="saveGPSCoordinatesCollateralType(GPSCoordinatesCollateralTypeForm)"
                            [disabled]="GPSCoordinatesCollateralTypeForm.invalid" class="btn btn-success pull-right">Save and
                            Close</button>
                        <button type="button" (click)="displayGPSCoordinatesCollateralTypeForm=false" style="margin-right:5px"
                            class="btn btn-danger pull-right">Cancel</button>
                    </div>
                </div>
            </div>
    
        </form>
    
    </div>

</p-dialog>