 <div style="margin-bottom:0" class="panel panel-default">
    <div class="panel-heading">
      <div style="margin-left:0" class="row">
        <h2 class="panel-title pull-left">
          Account Balance
        </h2>
        <a href="javascript:void(0)" (click)="closeAccountBalanceWindow()" class="pull-right remove-btn">
          <i class="glyphicon glyphicon-remove-sign">
          </i>
        </a>

      </div>
    </div>
    <div style="padding:3px" class="panel-body">
      <div class="form-group">
        <div class="row">
            <div class="col-md-9">
                <input type="text" [(ngModel)]="accountNumberText"   class="form-control" placeholder="Account Number">
              </div>
              <div class="col-md-3">
                  <button pButton type="button" (click)="GetAccountBalance()" label="Search"></button>
              </div>
        </div>
    
      </div>

      <div class="form-group">
        <div class="col-md-12">

          <table *ngIf="accountBalance" class="table table-striped table-hover">
           
            <tbody>
              <tr>
                <td>
                    <strong>Account Name :</strong>
                </td>
                <td>{{ accountBalance.accountName }}</td>
            </tr>
            <tr>
              <td>
                  <strong>Account Number :</strong>
              </td>
              <td>{{ accountBalance.accountNo }}</td>
          </tr>
          <tr>
            <td>
                <strong>Account Balance :</strong>
            </td>
            <td>{{ accountBalance.availableBalance }}</td>
        </tr>
        <tr>
          <td>
              <strong>Product Name :</strong>
          </td>
          <td>{{ accountBalance.productName }}</td>
      </tr>
          <tr>
            <td>
                <strong>Account Status :</strong>
            </td>
            <td>{{ accountBalance.accountStatus }}</td>
        </tr>
    <tr>
      <td>
          <strong>Customer Code :</strong>
      </td>
      <td>{{ accountBalance.customerCode }}</td>
  </tr>
  <tr>
    <td>
        <strong>Product :</strong>
    </td>
    <td>{{ accountBalance.product }}</td>
</tr>
<tr>
  <td>
      <strong>Product Type :</strong>
  </td>
  <td>{{ accountBalance.productType }}</td>
</tr>
<tr>
  <td>
      <strong>Currency Type :</strong>
  </td>
  <td>{{ accountBalance.currencyType }}</td>
</tr>
<tr>
  <td>
      <strong>Freeze Status :</strong>
  </td>
  <td>{{ accountBalance.freezeStatus }}</td>
</tr>
<tr>
  <td>
      <strong>freeze Reason :</strong>
  </td>
  <td>{{ accountBalance.freezeReason }}</td>
</tr><tr>
  <td>
      <strong>Last Transaction Date :</strong>
  </td>
  <td>{{ accountBalance.lastTransactionDate }}</td>
</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


 