<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left">
                                Down Payment
                            </h2>
                            <div class="pull-right">
                                <button (click)="showModalForm()" pButton type="button" label="Add New" icon="fa-plus"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <p-dataTable [value]="downPayments" [responsive]="true" [paginator]="true" [rows]="15">
                        <p-column field="employmentTypeName" header="Employment Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column field="productName" header="Products" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                    <p-column field="minAmount" header="Minimum Amount" sortable="true" [filter]="true"
                    filterMatchMode="contains">
                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                        {{ d.minAmount | number : '1.2' }}
                    </ng-template>
                </p-column>
                        <!-- <p-column field="maxAmount" header="Maximum Amount" sortable="true" [filter]="true" filterMatchMode="contains"></p-column> -->
                        <p-column field="maxAmount" header="Maximum Amount" sortable="true" [filter]="true" filterMatchMode="contains">
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.maxAmount | number : '1.2' }}
                            </ng-template>
                        </p-column>
                        <p-column field="percentage" header="Percentage (%)" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header"></ng-template>
                          <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="editDownPayment(d)" href="javascript:void(0)">Edit</a>
                            </ng-template>
                        </p-column>

                        <p-column [style]="{'width':'60px', 'text-align': 'center'}">
                            <ng-template pTemplate="header"></ng-template>
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="removeDownpayment(d)" href="javascript:void(0)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </ng-template>
                        </p-column>

                    </p-dataTable>
                </div>

            </div>
            <!--end of panel-->


        </div>
    </div>
</div>

<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displayCreateEditModal" id="create-edit-modal" modal="modal" showEffect="fade" width="900">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ entityName}}
            </h2>
        </div>

        <form novalidate [formGroup]="downPaymentForm" autocomplete="off">

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="employmentType" class="control-label col-md-2">Employment Type</label>


                        <div class="col-md-4">
                            <select type="text" name="employmentTypeId" formControlName="employmentTypeId" id="employmentTypeId"
                                class="form-control"
                                [ngClass]="!downPaymentForm.controls['employmentTypeId'].valid ? 'required-input' : 'valid-input'">
                                <option [ngValue]="null">-- Select Employment Status --</option>
                                <option [ngValue]="0">Self Employed</option>
                                <option [ngValue]="1">Employed</option>
                                <option [ngValue]="2">Unemployed</option>
                            </select>
                        </div>
                        <label for="productId" class="control-label col-md-2">Products</label>
                        <div class="col-md-4">
                        <select type="text" name="productId" formControlName="productId" id="productId" class="form-control"
                                [ngClass]="!downPaymentForm.controls['productId'].valid ? 'required-input' : 'valid-input'">
                                <option value="">-- Select Product --</option>
                                <option *ngFor="let product of products " [value]="product.productId">
                                {{ product.productName }}
                                </option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="minAmt" class="control-label col-md-2">Minimum Amount</label>
                        <div class="col-md-4">
                            <input type="text" formatM name="MINAMOUNT" id="MINAMOUNT" class="form-control" formControlName="MINAMOUNT" [ngClass]="downPaymentForm.controls['MINAMOUNT'].valid ? 'valid-input' : 'required-input'"/>
                        </div>
                        <label for="maxAmt"  class="control-label col-md-2">Maximum Amount</label>
                        <div class="col-md-4">
                            <input type="text" formatM name="MAXAMOUNT" id="MAXAMOUNT" class="form-control" formControlName="MAXAMOUNT" [ngClass]="downPaymentForm.controls['MAXAMOUNT'].valid ? 'valid-input' : 'required-input'"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="percent" class="control-label col-md-2">Percentage (%)</label>
                        <div class="col-md-3">
                            <input type="text" name="PERCENTAGE" numbersOnly id="PERCENTAGE" class="form-control"  formControlName="PERCENTAGE" min="0" max="100" step="1" [ngClass]="downPaymentForm.controls['PERCENTAGE'].valid ? 'valid-input' : 'required-input'"/>
                            
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="submitForm(downPaymentForm)" [disabled]="downPaymentForm.invalid" class="btn btn-success pull-right">Save</button>
                        <button type="button" (click)="displayCreateEditModal=false" style="margin-right:5px"
                            class="btn btn-danger pull-right" i18n>Close</button>                    </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>
<!--end of form modal-->


