<div class="panel panel-default">

  <div class="panel-heading">
      <div class="row">
          <div class="col-md-12">
              <h2 class="panel-title pull-left">Debt Collection Agencies</h2>
              <div class="pull-right">
                  
              </div>
          </div>
      </div>
  </div>

  <div class="panel-body">
    <p-dataTable [value]="accreditedConsultants" [paginator]="true" [rows]="10" selectionMode="single">
        <p-column field="name" header="Consultant Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="firmName" header="Consultant Firm" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="consultantType" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="address" header="Adress" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
        <p-column field="stateName" header="State" sortable="true" [filter]="true" filterMatchMode="contains"> </p-column>
        <p-column field="dateOfEngagement" header="Date Of Engagement" sortable="true" [filter]="true" filterMatchMode="contains"> </p-column>
        <p-column field="category" header="Category" sortable="true" [filter]="true" filterMatchMode="contains"> </p-column>
    </p-dataTable>
</div>

</div>