<!--div *ngIf="displayLoadButton" class="panel panel-default">
    <div class="panel-body">
        <button type="button" class="btn btn-primary pull-left" (click)="loadLoanCustomerList()">View Customer Information</button>
    </div>
</div-->

<div *ngIf="displayLoanCustomerList" class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div style="margin-bottom:0" class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left">
                                Customer Information
                            </h2>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div *ngIf="showSpinnerChangeLog == true" class="little-spinner"></div>
                        <p-dataTable *ngIf="displayChangeLog == true" [value]="loanApplicationCustomerList" [rows]="20">

                            <p-column field="customerCode" header="Customer Code"></p-column>
                            <p-column field="customerName" header="Customer Name"></p-column>
                            <!-- <p-column field="customerAccountNo" header="Account Number"></p-column> -->

                            <p-column field="customerTypeId" header="Customer Type">
                                <ng-template let-i="rowIndex" let-model="rowData" pTemplate type="body">
                                    {{ getCustomerType(model.customerTypeId) }}
                                </ng-template>
                            </p-column>

                            <p-column [style]="{'width':'100px'}">
                                <ng-template pTemplate="header"></ng-template>
                                <ng-template let-user="rowData" let-i="rowIndex" pTemplate="body">
                                    <a #viewDetail name="viewDetail" (click)="viewCustomerDetails(i)" href="javascript:void(0)">View
                                        Details</a>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="displayCustomerInfoDetails" class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div style="margin-bottom:0" class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left">
                                Customer Information Details For:
                                <strong>{{ customerFullName }}</strong>
                            </h2>
                            <div class="pull-right" *ngIf="canRefreshAccount == true">
                                <button pButton type="button" (click)="fetchAndAddCustomerAccounts()" label="Refresh Customer Accounts"
                                    class="ui-button-info">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div *ngIf="showSpinnerChangeLog == true" class="little-spinner"></div>
                        <p-tabView>
                            <p-tabPanel *ngIf="customerSelection" header="General" id="print-section-customer-information">
                                <table class="table table-customer-information" border="1" >
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>Customer Code:</strong>
                                            </td>
                                            <td>{{ customerSelection.customerCode }}</td>
                                            <td>
                                                <strong>Customer Type:</strong>
                                            </td>
                                            <td>{{ getCustomerType(customerSelection.customerTypeId) }}</td>
                                        </tr>
                                        <tr *ngIf="!isCorperateCustomer">
                                            <td>
                                                <strong>Title:</strong>
                                            </td>
                                            <td>{{ customerSelection.title }}</td>
                                            <td>
                                                <strong>Gender:</strong>
                                            </td>
                                            <td>{{ customerSelection.gender }}</td>
                                        </tr>
                                        <tr *ngIf="!isCorperateCustomer">
                                            <td>
                                                <strong>First Name:</strong>
                                            </td>
                                            <td>{{ customerSelection.firstName }}</td>
                                            <td>
                                                <strong>Date of Birth:</strong>
                                            </td>
                                            <td> {{customerSelection.dateOfBirth | date : 'dd/MM/yyyy' }}</td>
                                        </tr>
                                        <tr *ngIf="isCorperateCustomer">
                                            <td>
                                                <strong>Corporate Name:</strong>
                                            </td>
                                            <td>{{ customerSelection.firstName }}</td>
                                            <td>
                                                <strong>Date of Established:</strong>
                                            </td>
                                            <td> {{customerSelection.dateOfBirth | date : 'dd/MM/yyyy' }}</td>
                                        </tr>
                                        <tr *ngIf="!isCorperateCustomer">
                                            <td>
                                                <strong>Middle Name:</strong>
                                            </td>
                                            <td>{{ customerSelection.middleName }}</td>
                                            <td>
                                                <strong>Customer BVN:</strong>
                                            </td>
                                            <td>{{ customerSelection.customerBVN }}</td>
                                        </tr>
                                        <tr *ngIf="!isCorperateCustomer">
                                            <td>
                                                <strong>Last Name:</strong>
                                            </td>
                                            <td>{{ customerSelection.lastName }}</td>
                                            <td>
                                                <strong>Place of Birth:</strong>
                                            </td>
                                            <td>{{ customerSelection.placeOfBirth }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Email Address:</strong>
                                            </td>
                                            <td>{{ customerSelection.emailAddress }}</td>
                                            <td>
                                                <strong> TIN:</strong>
                                            </td>
                                            <td>{{ customerSelection.taxNumber }}</td>
                                        </tr>
                                        <tr *ngIf="!isCorperateCustomer">
                                            <td>
                                                <strong>Marital Status:</strong>
                                            </td>
                                            <td>{{ getMaritalStatus(customerSelection.maritalStatus) }}</td>
                                            <td>
                                                <strong> Occupation:</strong>
                                            </td>
                                            <td>{{ customerSelection.occupation }}</td>
                                        </tr>
                                        <tr *ngIf="!isCorperateCustomer">
                                            <td>
                                                <strong>Spouse:</strong>
                                            </td>
                                            <td>{{ customerSelection.spouse }}</td>
                                            <td>
                                                <strong> Maiden Name:</strong>
                                            </td>
                                            <td>{{ customerSelection.maidenName }}</td>
                                        </tr>
                                        <tr *ngIf="!isCorperateCustomer">
                                            <td>
                                                <strong> Nationality:</strong>
                                            </td>
                                            <td>{{ customerSelection.nationality }}</td>
                                            <td>
                                                <strong> Account Creation Complete:</strong>
                                            </td>
                                            <td>{{ customerSelection.accountCreationComplete ? 'Yes' : 'No' }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong> Relationship Manager:</strong>
                                            </td>
                                            <td>{{ customerSelection.relationshipOfficerName }}</td>
                                            <td>
                                                <strong> Sector:</strong>
                                            </td>
                                            <td>{{ customerSelection.sectorName }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Sub-Sector:</strong>
                                            </td>
                                            <td>{{ customerSelection.subSectorName }}</td>
                                            <td>
                                                <strong>Politically Exposed:</strong>
                                            </td>
                                            <td>{{ customerSelection.isPoliticallyExposed ? 'Yes' : 'No' }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Branch:</strong>
                                            </td>
                                            <td>{{ getBranch(customerSelection.branchId) }}</td>
                                            <td>
                                                <strong>Company:</strong>
                                            </td>
                                            <td>{{ getCompany(customerSelection.companyMainId) }}</td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Customer Rating:</strong>
                                            </td>
                                            <td>{{ customerSelection.customerRating }}</td>
                                            <td *ngIf="isCorperateCustomer">
                                                <strong >Ownership:</strong>
                                            </td>
                                            <td *ngIf="isCorperateCustomer">{{ customerSelection.ownership }}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection && isCorperateCustomer" header="Corporate Information" id="print-section-corporate-information">
                                <table class="table table-customer-information" border="1">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong> Registration Number:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.registrationNumber }}</td>
                                            <td>
                                                <strong>Company Website:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.companyWebsite }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong> Company Email:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.companyEmail }}</td>
                                            <td>
                                                <strong>Registered Office:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.registeredOffice }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong> Annual Turn Over:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.annualTurnOver ?
                                                customerCompanyInfomation.annualTurnOver : '0.00' }}</td>
                                            <td>
                                                <strong> Paid Up Capital:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.paidUpCapital ?
                                                customerCompanyInfomation.paidUpCapital : '0.00'}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong> Authorized Capital:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.authorizedCapital ?
                                                customerCompanyInfomation.authorizedCapital : '0.00' }}</td>
                                            <td>
                                                <strong> Business Sector:</strong>
                                            </td>
                                            <td>{{
                                                getSectorBySectoeId(customerCompanyInfomation?.corporateBusinessCategory)
                                                }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong> Shareholder Fund:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.shareholderFund ?
                                                customerCompanyInfomation.shareholderFund : '0.00' }}</td>
                                            <td>
                                                <strong></strong>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Total No Of Employees:</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.numberOfEmployees}}</td>
                                                
                                            <td>
                                                <strong>Number Of Female Employees:</strong>
                                            </td>
                                            <td>{{customerCompanyInfomation?.noOfFemaleEmployees}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Start Up</strong>
                                            </td>
                                            <td>{{ customerCompanyInfomation?.isStartUp?
                                                'Yes': 'No' }}</td>
                                                
                                            <td>
                                                <strong>First Time To Access Credit:</strong>
                                            </td>
                                                <td>{{ customerCompanyInfomation?.isFirstTimeCredit?
                                                    'Yes': 'No' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection" header="Contact">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p-dataTable #dt [value]="customerAddresses" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header>Customer Address Information</p-header>
                                            <p-column field="address" header="Address"></p-column>
                                            <p-column field="homeTown" header=" Town/City"></p-column>
                                            <p-column field="nearestLandmark" header="nearestLandmark"></p-column>
                                            <p-column field="active" header="Active"></p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"> 
                                        <p-dataTable #dt [value]="customerPhoneContact" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header>Customer Phone Contact</p-header>
                                            <p-column field="phone" header="Home Phone No"></p-column>
                                            <p-column field="phoneNumber" header="Mobile Phone No"></p-column>
                                            <p-column field="active" header="Active"></p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection && isCorperateCustomer" header="Director">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p-dataTable #dt [value]="customerCompanyDirectors" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header>Directors</p-header>
                                            <p-column field="firstname" header="Firstname"></p-column>
                                            <p-column field="surname" header="Surname"></p-column>
                                            <p-column field="bankVerificationNumber" header="Bank Verification Number"></p-column>
                                            <p-column field="email" header="Email"></p-column>
                                            <p-column field="isPoliticallyExposed" header="Politically Exposed">
                                                <!--ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                            {{ d.isPoliticallyExposed | uppercase }}
                                                        </ng-template-->
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p-dataTable #dt  [value]="customerCompanyAccountSignatory" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header>Account Signatory(s)</p-header>
                                            <p-column field="firstname" header="Firstname"></p-column>
                                            <p-column field="surname" header="Surname"></p-column>
                                            <p-column field="bankVerificationNumber" header="Bank Verification Number"></p-column>
                                            <p-column field="email" header="Email"></p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection && isCorperateCustomer" header="Client/Supplier">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p-dataTable #dt [value]="customerSupplier" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header>Customer Top Supplier(s)</p-header>
                                            <p-column field="customerTypeName" header="Supplier Type"></p-column>
                                            <p-column field="clientOrSupplierName" header="Supplier Name"></p-column>
                                            <p-column field="client_SupplierAddress" header="Address"></p-column>
                                            <p-column field="client_SupplierPhoneNumber" header="Phone Number"></p-column>
                                            <p-column field="client_SupplierEmail" header="Email"></p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p-dataTable #dt  [value]="customerClient" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header>Customer Top Client(s)</p-header>
                                            <p-column field="customerTypeName" header="Client Type"></p-column>
                                            <p-column field="clientOrSupplierName" header="Client Name"></p-column>
                                            <p-column field="client_SupplierAddress" header="Address"></p-column>
                                            <p-column field="client_SupplierPhoneNumber" header="Phone Number"></p-column>
                                            <p-column field="client_SupplierEmail" header="Email"></p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection && isCorperateCustomer" header="Shareholder">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p-dataTable #dt [value]="customerCompanyShareholderIndividual" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header>INDIVIDUAL - Significant Shareholder (5% and above)</p-header>
                                            <p-column field="firstname" header="Firstname"></p-column>
                                            <p-column field="surname" header="Surname"></p-column>
                                            <p-column field="bankVerificationNumber" header="Bank Verification Number"></p-column>
                                            <p-column field="email" header="Email"></p-column>
                                            <p-column field="numberOfShares" header="% Holding"></p-column>
                                        </p-dataTable>
                                    </div>
                                </div>

                                <div *ngIf="customerCompanyShareholderCorporate" class="form-group">
                                    <div class="col-md-12">
                                        <p-dataTable #dt  [value]="customerCompanyShareholderCorporate" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header> CORPORATE - Significant Shareholder (5% and above)</p-header>
                                            <p-column field="firstname" header="Corporate Name"></p-column>
                                            <p-column field="rcNumber" header="RC Number"></p-column>
                                            <p-column field="numberOfShares" header="% Holding"></p-column>
                                            <p-column field="email" header="Email"></p-column>
                                            <p-column [style]="{'width':'100px'}">
                                                <ng-template pTemplate="header">Ultimate Beneficial</ng-template>
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                    <a (click)="viewShareholderUltimateBeneficial(i)" href="javascript:void(0)">
                                                        View
                                                    </a>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection && !isCorperateCustomer" header="Employment History">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p-dataTable #dt  [value]="customerEmploymentHistory" [responsive]="true">
                                            <p-header>
                                                <div class="ui-helper-clearfix">
                                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                                </div>
                                            </p-header> 
                                            <p-header>Customer Employment History</p-header>
                                            <p-column field="employerName" header="Employer Name"></p-column>
                                            <p-column field="employerAddress" header="Employer Address"></p-column>
                                            <p-column field="officePhone" header="Office Phone"></p-column>
                                            <p-column field="employDate" header="Employment Date" sortable="true"
                                                [filter]="true" filterMatchMode="contains">
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                    {{ d.employDate | date: 'dd-MM-yyyy' }}
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection" header="Insider Related Party">
                                <p-dataTable #dt  [value]="customerRelatedParties" [paginator]="true" [rows]="5">
                                    <p-header>
                                        <div class="ui-helper-clearfix">
                                            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                        </div>
                                    </p-header> 
                                    <p-column field="customerName" header="Customer Name" sortable="true" [filter]="true"
                                        filterMatchMode="contains"></p-column>
                                    <p-column field="directorName" header="Director Name" [filter]="true"
                                        filterMatchMode="contains"></p-column>
                                    <p-column field="relationshipType" header="Relationship Type" sortable="true"
                                        [filter]="true" filterMatchMode="contains"></p-column>
                                </p-dataTable>
                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection" header="Uploads">
                                <p-dataTable #dt [value]="kycDocumentUploadList" [paginator]="true" [rows]="5">
                                    <p-header>
                                        <div class="ui-helper-clearfix">
                                            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                        </div>
                                    </p-header> 
                                    <p-column field="documentTitle" header="Document Title" sortable="true" [filter]="true"
                                        filterMatchMode="contains"></p-column>
                                    <p-column field="fileExtension" header="Type" [filter]="true" filterMatchMode="contains"
                                        [style]="{'width':'60px'}"></p-column>
                                    <p-column field="physicalFileNumber" header="File Number" sortable="true" [filter]="true"
                                        filterMatchMode="contains" [style]="{'width':'150px'}"></p-column>
                                    <p-column field="physicalLocation" header="Physical Location" sortable="true"
                                        [filter]="true" filterMatchMode="contains"></p-column>
                                    <p-column [style]="{'width':'100px'}">
                                        <ng-template pTemplate="header"> </ng-template>
                                        <ng-template pTemplate="body" let-d="rowData" let-i="rowIndex">
                                            <a *ngIf="['jpg','jpeg', 'png'].indexOf(d.fileExtension.toLowerCase()) > -1"
                                                (click)="viewDocument(d.documentId)" href="javascript:void(0)">View</a>
                                            <a *ngIf="['doc','docx', 'pdf','xls', 'xlsx'].indexOf(d.fileExtension.toLowerCase()) > -1"
                                                (click)="DownloadDocument(d.documentId)" href="javascript:void(0)">Download</a>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>

                            </p-tabPanel>
                            <p-tabPanel *ngIf="customerSelection" header="Account Information">
                                <p-dataTable #dt [value]="customerCASAInformation">
                                    <p-header>
                                        <div class="ui-helper-clearfix">
                                            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                                        </div>
                                    </p-header> 
                                    <p-column field="productAccountNumber" header="Account Number"></p-column>
                                    <p-column field="productName" header="Product"></p-column>
                                    <p-column field="accountStatusName" header="Account Status"></p-column>
                                    <p-column field="currency" header="Currency"></p-column>
                                    <p-column field="ledgerBalance" header="Ledger Balance">
                                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                            {{ d.ledgerBalance | number: '.2-2' }}
                                        </ng-template>
                                    </p-column>
                                    <p-column field="availableBalance" header="Available Balance">
                                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                            {{ d.availableBalance | number: '.2-2' }}
                                        </ng-template>
                                    </p-column>
                                    <p-column field="hasOverdraft" header="Has Overdraft"></p-column>
                                    <p-column field="hasLien" header="Has Lien"></p-column>
                                </p-dataTable>

                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
                <div class="panel-footer" *ngIf="showBackButton">
                    <div class="row">
                        <div class="col-md-12">
                            <button *ngIf="!showProceedBackButton" type="button" (click)="closed()" style="margin-right:5px"
                                class="btn btn-danger pull-right">Back</button>
                            <div *ngIf="showProceedBackButton">
                                <!-- <button type="button" class="btn btn-primary pull-right" style="margin-right:5px"
                                    (click)="goForPenApplication($event)">Preliminary Evaluation</button> -->
                                <button style="margin-right:5px" type="button" class="btn btn-primary pull-right" style="margin-right:5px"
                                    (click)="proceedToApplication()">Upload Credit Bureau Report</button>
                                <button type="button" (click)="closeModal()" style="margin-right:5px" class="btn btn-danger pull-right">Back
                                    To Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog [responsive]=true [(visible)]="displayUpload" modal="modal" showEffect="fade" width="1200" [style]="{'z-index':'25000'}">
    <div *ngIf="displayUpload" style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">
                Document Title:
                <strong>{{ selectedDocument }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayUpload=false">&times;</a>
            </div>
        </div>

        <div class="panel-body" style="overflow:auto;height:500px">
            <div style="margin: auto; width: 50%">
                <img *ngIf="binaryFile" style="max-width: 100%; display: block 2px black;" [src]="'data:image/jpg;base64,'+binaryFile"
                    alt="" class="img-thumbnail">
            </div>
        </div>

    </div>
</p-dialog>
<p-dialog [responsive]=true [(visible)]="displayViewUltimateBeneficial" modal="modal" showEffect="fade" width="800">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                Ultimate Beneficial owner(s) of
                <strong>{{corporateShareholderName}}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayViewUltimateBeneficial=false">&times;</a>
            </div>
        </div>
        <div class="panel-body" style="min-height:120px;">
            <div class="form-group">
                <div class="col-md-12">
                    <p-dataTable [value]="customerCompanyUltimateBeneficial" [responsive]="true">
                        <p-header>Ultimate Beneficial Owners </p-header>
                        <p-column field="firstname" header="Firstname"></p-column>
                        <p-column field="surname" header="Surname"></p-column>
                        <p-column field="bankVerificationNumber" header="Bank Verification Number"></p-column>
                        <p-column field="email" header="Email"></p-column>
                        <p-column field="numberOfShares" header="% Holding"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="displayViewUltimateBeneficial=false" style="margin-right:5px" class="btn btn-danger pull-right">Close</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>