<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="panel-title pull-left" i18n>
                            SERVICE FEE SETUP
                        </h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <button (click)="showModalForm()" pButton type="button" label="Add New"
                                        icon="fa-plus"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p-dataTable [value]="serviceFeeData">
                        <p-column field="productName" header="Product Type"></p-column>
                        <p-column field="percentage" header="Fee(%)"></p-column>

                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header"> </ng-template>
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="editServiceFeeSetup(d)" href="javascript:void(0)">Edit</a>
                            </ng-template>
                        </p-column>

                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header"> </ng-template>
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="deleteServiceFeeSetup(d)" href="javascript:void(0)">Delete</a>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </div>

            </div>
        </div>
    </div>
</div>

<p-dialog [responsive]=true [(visible)]="displayCreateEditModal" id="create-edit-modal" modal="modal" showEffect="fade"
    width="800">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
                Service Fee
            </h2>
        </div>

        <form novalidate [formGroup]="serviceFeeFormGroup"
            (ngSubmit)="submitServiceFeeSetupForm(serviceFeeFormGroup)" autocomplete="off">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="productTypeId" class="control-label col-md-2" i18n>Product Type
                        </label>
                        <div class="col-md-4">
                            <select name="productTypeId" class="form-control" formControlName="productTypeId"
                                id="productTypeId"
                                [ngClass]="!serviceFeeFormGroup.controls['productTypeId'].valid ? 'required-input' : 'valid-input'">
                                <option value="" i18n>- Select Product Type -</option>
                                <option *ngFor="let x of productTypes" [value]="x.productTypeId">
                                    {{ x.productTypeName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="serviceFee" class="control-label col-md-2" i18n>Service Fee</label>
                        <div class="col-md-4">
                            <input type="number" min="1" id="serviceFee" name="serviceFee" class="form-control"
                                formControlName="serviceFee"
                                [ngClass]="!serviceFeeFormGroup.controls['serviceFee'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" [disabled]="serviceFeeFormGroup.invalid"
                            class="btn btn-success pull-right" i18n>Save</button>
                        <button type="button" (click)="displayCreateEditModal=false" style="margin-right:5px"
                            class="btn btn-danger pull-right" i18n>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</p-dialog>
